@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: Ubuntu, cursive;
  cursor: context-menu;
}

::selection {
  background-color: #0083c5cc;
  color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* background-color: #efeff1; */
    background: url("https://wallpapercave.com/wp/wp11470883.jpg") no-repeat center center fixed;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    background-color: #2314e0;
    color: white;
    z-index: 1000;
    position: fixed;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

li a {
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 0 -12px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

li a:hover {
    /* text-decoration: underline; */
    background-color: #c4c4ffcd;
}

li a[disabled] {
    color: rgba(240, 248, 255, 0.821);
    text-decoration: none;
    pointer-events: none;
    cursor: not-allowed;
}

li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px double #b4b1ffde;
    position: absolute;
    right: 50px;
    top: 29.5px;
    transform: translateY(-50%);
}

.active {
    background-color: #adadffd1;
}

header {
    background-color: #2314e0;
    color: white;
    text-align: center;
    padding: 1rem;
    transition: font-size 0.2s ease-in-out;
}

#container {
    background-color: #2314e0;
}

h1 {
    margin-top: 100px;
    font-size: 3rem;
}

h1 span {
    font-size: 3.85rem;
}

p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: whitesmoke;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
    color: black;
}

section h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.product-card {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.product-grid {margin: 0 -5px;}

.product-grid:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 700px) {
  .product-card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  li img {
    right: 20px;
    top: 29.5px;
  }
}

.product-card {
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.317);
  padding: 16px;
  text-align: center;
  background-color: #efeff1;
  transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 0 10px #c1ccff7d, 0 0 15px #99adff80, 0 0 20px #c2ceff79, 0 0 25px #8ba4ff76;
}

.product-card img {
  width: 70%;
  height: auto;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card small {
  color: black;
}

.product-card button, .product-info button, .button {
    background-color: #144ae0;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.1s ease-in-out;
    border-radius: 5px;
}

.product-card button:hover {
    background-color: #0f3db5;
}

.img-container {
    float: left;
    margin-top: 50px;
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 40px;
  height: 40px;
}

.img-zoom-result, #myimage {
  border: 1px solid #d4d4d4;
  width: 300px;
  height: 250px;
}